<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112448898146-gmfu509ruknrkjr8lfqnap2b3sodacgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112448898146-gmfu509ruknrkjr8lfqnap2b3sodacgp</string>
	<key>API_KEY</key>
	<string>AIzaSyDdW2XZR6AQBcBsQJ6FDMCGHdluHYIqhB0</string>
	<key>GCM_SENDER_ID</key>
	<string>112448898146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeAppWork</string>
	<key>PROJECT_ID</key>
	<string>foodrecipeapp-55e07</string>
	<key>STORAGE_BUCKET</key>
	<string>foodrecipeapp-55e07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112448898146:ios:2e1209bf984f486095bd3b</string>
</dict>
</plist>